.menu-card {
  width: 150px;
  position: absolute;
  top: 55px;
  right: 1rem;
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  border-radius: 12px;
  transition: all 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &.show {
    opacity: 1;
    pointer-events: all;
  }

  &.close {
    opacity: 0;
    pointer-events: none;
  }

  a,
  .logout {
    padding: 0.5rem 0;
    text-align: center;
    background-color: #fff;
    color: var(--primary);
    border: 1px solid transparent;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background-color: #f1f5f9;
    }
  }
}
